.site-header {
    display: flex;
    // grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &__button {
        justify-self: end;
        margin-right: 2rem;
    }

}

.site-branding {
    margin-left: 2rem;
}

.logo {
    height: 45px;
}

#primary-menu {
    justify-content: end;

    a {
    color: $color-primary; 
    }
}