.homeHero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($color-quad, 0.8);

  &__images {
    display: flex;
    justify-content: center;

    img {
      width: 65%;
    }
  }
}


