.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__intro {
    grid-column: 1/-1;
    text-align: center;
    width: 75%;
    margin: 0 auto;

    h2 {
      text-transform: uppercase;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    margin: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: .5rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (max-width: 500px) {
      flex-direction: row;
      margin: .5rem;
    }
  }

  &__icons {
    padding: 3rem;

    @media screen and (max-width: 768px) {
      grid-column: 1/-1;
      display: flex;
      justify-content: space-evenly;
      padding: 1rem;
    }

    @media screen and (max-width: 500px) {
      grid-column: 1/-1;
      flex-direction: column;
      padding: 1rem;
    }

    &__icons {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
      }

    }
  }

  &__circles {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: relative;
    margin: 1.5rem;

    @media screen and (max-width: 500px) {
      height: 3rem;
      width: 3rem;
      margin: .5rem;
    }
  }

  &__description {
    grid-column: 2/-1;
    padding: 3rem;

    @media screen and (max-width: 768px) {
      grid-column: 1/-1;
      display: flex;
      padding: 1.5rem;
    }

    &__title {
      text-align: center;
    }

    h2 {
      font-size: 3rem;
      margin: 0.5rem;
    }

    p {
      line-height: 2.5rem;
      font-size: 1.4rem;
      margin-top: 1rem;

      @media screen and (max-width: 500px) {
        font-size: 1.2rem;
      }
    }

    h6 {
      font-size: 1.6rem;
      margin: 0.2rem;
    }

    &__extra {
      position: relative;

      p {
        line-height: normal;
      }
    }
  }
}

#webdesign,
#mobileApp,
#branding {
  position: absolute;
  top: 0%;
  transition: all 1s ease-out;
}

#webdesign {
  opacity: 1;
  z-index: 3;
  position: relative;
}

#mobileApp {
  opacity: 0;
}

#branding {
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.primary {
  background-color: $color-primary;
}

.secondary {
  background-color: $color-secondary;
}

.tertiary {
  background-color: $color-tertiary;
}
